<h1><%= @p.title %>: <%= @discussion.title %></h1>
<p><%= @discussion.description %></p>
<p>Created by: <%= @discussion.user.first_name %> <%= @discussion.user.last_name %></p>

<% if can? :edit, @discussion %>
  <%= link_to "Edit", edit_project_discussion_path(@p, @discussion), class: "btn btn-info btn-sm" %>
<% end %>
<% if can? :destroy, @discussion %>
  <%= link_to "Delete", project_discussion_path(@p, @discussion), method: :delete, class: "btn btn-danger btn-sm", data: {confirm: "Are you sure?"}%>
<% end %>

<% if @comment.persisted? %>
  <h2 id="add_comment_heading">Editing Comment</h2>
<% else %>
  <h2 id="add_comment_heading">Add a Comment</h2>
<% end %>
<%= render "/comments/form" %>

<h2>Comments</h2>
<div id="comments">
  <% @comments.each do |comment| %>
    <%= render "/comments/comment", comment: comment %>
  <% end %>
</div>
